<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>mcq-activity demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../mcq-activity.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic mcq-activity demo</h3>
      <demo-snippet>
        <template>
          <mcq-activity correct-message="Bravo, vous pourriez être horticulteur" wrong-message="Non, mais parfois si, mais pas là" question="Quelle est la couleur d'une plante verte?" correct-answer="Vert" distractor-array='[{"value":"Jaune clair"},{"value":"Saumon"},{"value":"Un peu orange"}]'></mcq-activity>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
